.poster-card {
  width: clamp(230px, 25vw, 390px);
  height: clamp(380px, 35vw, 580px);
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease;
  }

  &:hover img {
    transform: scale(1.1);
  }
}
