.right {
  display: flex;
  align-items: center;
  gap: 15px;
  .theme {
    padding: 10px;
    background-color: rgba(38, 13, 82, 0.875);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s ease;
    &:active {
      transform: scale(0.9);
    }
  }
  .signin {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    background: linear-gradient(
      90deg,
      rgb(255, 15, 15, 0.9),
      rgba(220, 9, 174, 0.898)
    );
    border-radius: 10px;
    transition: 0.3s ease;
    &:active {
      transform: scale(0.9);
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  .ham {
    padding: 5.5px 6px;
    border-radius: 10px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: rgb(89, 89, 89);
    display: none;
    &:hover {
      background-color: rgba(42, 42, 42, 0.875);
    }
    @media (max-width: 768px) {
      display: flex;
    }
  }
  @media (max-width: 768px) {
    gap: 5px;
  }
}
